.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}